@import "tailwindcss";

@font-face{
  font-family: "AudioNugget";
  src:local("AudioNugget"),
  url('./assets/fonts/AudioNugget.ttf') 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'AudioNugget', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 10px -2px 0px #368FE0;
}